<div fxFlex>
  <h1>Laons Bank of Nigerian Prince</h1>
  <div class="bottom-margin">
    <p>
      The “Nigerian prince” email scam is perhaps one of the longest-running
      Internet frauds. Actress Anne Hathaway even joked about it in her
      monologue on “Saturday Night Live” over a decade ago.
    </p>
    <p>
      Also called “Nigerian letter” scams or “foreign money exchanges,” these
      typically start with an email from someone overseas who claims to be
      royalty. The fraudsters lure you in by offering a share of a huge
      investment opportunity or a fortune they can’t get out of the country
      without your help. Then they ask you either for your bank account number
      so they can transfer the money to you for safekeeping, or for a small
      advance payment to help cover the expense of transferring the money.
    </p>
    <p>
      That’s when they either take your payment and disappear, or, worse, drain
      your bank account.
    </p>
    <p>
      Americans lost $703,000 last year to these types of frauds, according to a
      new report by ADT Security Services, using data from the Better Business
      Bureau’s Scam Tracker. “As long as these types of scams keep working,
      people will continue to use them,”
    </p>
  </div>
</div>
