<p>Please enter your name and surname:</p>

<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" color="primary">
    <mat-label>Name, Surname</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-error>
    <div
      style="display: {{!applicantName?.errors?.['pattern'] ? 'none': '' }};"
      [hidden]="(applicantName?.errors?.['required'] && applicantName?.pristine)"
    >
      Alphabet letters only, no special characters.
    </div>
  </mat-error>
  <div class="col-auto">
    <button (click)="onBack()" mat-stroked-button color="primary">Back</button>
    <button type="submit" mat-stroked-button color="primary">Continue</button>
  </div>
</form>
