<p>Please enter your email:</p>

<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" color="primary">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
  </mat-form-field>
  <mat-error>
    <div
      style="display: {{!applicantEmail?.errors?.['email'] ? 'none': '' }};"
      [hidden]="(applicantEmail?.errors?.['required'] && applicantEmail?.pristine)"
    >
      Please check format.
    </div>
  </mat-error>

  <div class="col-auto">
    <button (click)="onBack()" mat-stroked-button color="primary">Back</button>
    <button type="submit" mat-stroked-button color="primary">Submit</button>
  </div>
</form>
